<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
#login{
  text-decoration:none;
  color:white;
  /*padding-left: 10px;*/
}
#nav{
  padding-right: 50px;
}
#allRight{
  padding-top: 10px;
}
#h3{
  color: black;
}
#dropdown{
  padding-right: 20px;
}
td{
    vertical-align: middle;
}
p{
  width: 80%;
}
tr > * { /*headers & table elements*/
  text-align: center;
}
</style>
<head>
	<title>Submit</title>
</head>
<body>
  <nav class="navbar navbar-inverse bg-inverse" id="nav">
    <a class="navbar-brand" id="header" href="file:///Users/karanerry/Drive/%3E%3E%20CS%20and%20Programming/HackNYU/bee-careful/templates/">BeeCareful</a>
    <div id="allRight">
    <ul class="nav navbar-nav navbar-right" id="login" >
      <button class="btn btn-success"><a href="file:///Users/karanerry/Drive/%3E%3E%20CS%20and%20Programming/HackNYU/bee-careful/templates/" id="login">Home</a></button>
    </ul>
  </nav>
 

  <div class="container">
    <h3>
      <span><center>Add Myself as a Contributor</center></span>
    </h3>
  </div>
  <div class="container">
    <h3 style="color:#3EA055">
      <span><center>{{ successMsg }}</center></span>
    </h3>
  </div>
  <br>
  <div class="container">
  <form method=POST enctype=multipart/form-data action="{{ url_for('add_contributor') }}">

    <label for="email">Email</label>
    <input type="text" id="email" name="email" placeholder="Your email.."><br></br>
    <input type="submit" value="Submit">

    
    <h3>Why share my email?</h3>
    <h5>We pride ourselves on educating people about the data that brands they use store about them, and that means that extends to us too. However, in the interest of maintaining integrity for our contributions, we need a way of tracking contributions to (anonymous) avatars. Your email address helps us know that you are unique. </h5>
    
    </h4><u>Do we actually store the email address?</u></h4> <h5>No! We hash it using a SHA-2 hash, and store only the hashed value (the digest). We never store raw email addresses, and only ever exist temporarily on RAM on our server while they're being hashed. The SHA-2 hash is strong enough to reduce collisions to nearly insignificantly low, so the chance that two email addresses collide is really, really, really low. </h5>
  </form>
</div>


  
  </div>
</body>
</html>