<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/templates2.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

mnt/c/Users/eliot/Desktop/Hackathon/bee-careful#


<style>
#login{
  text-decoration:none;
  color:white;
  /*padding-left: 10px;*/
}
#nav{
  padding-right: 50px;
}
#allRight{
  padding-top: 10px;
}
#h3{
  color: black;
}
#dropdown{
  padding-right: 20px;
}
td{
    vertical-align: middle;
}
p{
  width: 80%;
}
tr > * { /*headers & table elements*/
  text-align: center;
}
</style>

<body>
  <nav class="navbar navbar-inverse bg-inverse" id="nav">
    <div id="allRight">
    <ul class="nav navbar-nav navbar-right" id="login" >
      <button class="btn btn-success"><a href="/" id="login">Home</a></button>
    </ul>
  </nav>

<body>
  <header>
    <div class="main">
      <div class="logo">
        <!--<img src=""> *****THIS IS FOR THE LOGO***-->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/templates2.css') }}">
    </div>
 
     
    <div class="container">
  <div style="text-align:center">
    <h2>Contact Us</h2>
    <p>Contact information or you can leave us a message:</p>
  </div>
  <div class="row">
    <div class="column">
      <form action="/action_page.php">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        <label for="country">Country</label>
        <input type="text" id="country" name="countryname" placeholder="Country..">
        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Commments, input or questions.." style="height:170px"></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>

  </header>
</body>

  </form>
</div>


  
  </div>
</body>
</html>