<!DOCTYPE html>
<html>
<head>
  <title>Contribute Information</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
#login{
  text-decoration:none;
  color:white;
  /*padding-left: 10px;*/
}
#nav{
  padding-right: 50px;
}
#allRight{
  padding-top: 10px;
}
#h3{
  color: black;
}
#dropdown{
  padding-right: 20px;
}
td{
    vertical-align: middle;
}
p{
  width: 80%;
}
tr > * { /*headers & table elements*/
  text-align: center;
}
</style>
<body>
<nav class="navbar navbar-inverse bg-inverse" id="nav">
  <a class="navbar-brand" href="/">
    <img src="bee.png" width="30" height="30" alt="">
  </a>
  <a class="navbar-brand" id="header" href="/">
    BeeCareful
  </a>
  <h4>
    <a href="{{ url_for('home') }}">HOME</a>
    &nbsp;|&nbsp;
    <a href="{{ url_for('news') }}">Search</a>
    &nbsp;|&nbsp;
    <a href="{{ url_for('addContributor') }}">Register</a>
    &nbsp;|&nbsp;
    <a href="{{ url_for('submit') }}">Submit</a>
    &nbsp;|&nbsp;
    <a href="{{ url_for('contact') }}">Contact Us</a>
  </h4>
</nav>
    <div class = "title">
      <h1><center>BeeCareful helps you Be Carefree</center></h1>
    </div>
    <br>
    <h3><center>Welcome to the crowdsourced website that tells you what different companies do with your data!<!--, the fine print of the legal contract you never read before accepting, and all the latest buzz about GDPR, etc.--></center></h3>


  </header>
</body>
</html>
