<!DOCTYPE html>
<html>
<head>
    <title>BeeCareful</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/template2.css') }}">
</head>
<body>
  <header>
    <div class="main">
      <div class="logo">
        <!--<img src=""> *****THIS IS FOR THE LOGO***-->

      </div>
      <ul>
        <a href="#">Home</a>
        <a href="#">News</a>
        <a href="#">User</a>
        <a href="#">Submit</a>
        <a href="#">Contact Us</a>
      </ul>
    </div>
    <div class = "title">
      <h1>BeeCareful</h1>
    </div>

    <div class="button">
      <a href="#" class="chromeBtn">CHROME EXTENSION </a>
    </div>

  </header>
</body>
</html>
